*.gem
*.rbc
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/rdoc/
/InstalledFiles
/pkg/
/spec/reports
/tmp/

# RSpec failure tracking
.rspec_status

## Environment normalization:
.ruby-gemset
.ruby-version
/.bundle/
/lib/bundler/man/
/vendor/bundle
Gemfile.lock
